
/*Definindo as cores da tela*/
:root {
    --preta: #000000;
    --branco: #fff; 
    --azul:  #665cbe;
    --verde: #3a5802;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos base*/
body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--verde);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/*Game Principal*/
.game-principal {
    font-size: 16px;
    background-image: url('/img/BIOMUTANT.jpg');

    height: 1600px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.game-principal .descricao {
    margin-bottom: 40px;
}

.titulo {
    font-size: 40px;
}