
/*Definindo as cores da tela*/
:root {
    --preta: #000000;
    --branco: #fff; 
    --azul:  #665cbe;
    --verde: #3a5802;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos base*/
body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--verde);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/*Game Principal*/
.game-principal {
    font-size: 16px;
    background-image: url('/img/BIOMUTANT.jpg');

    height: 1600px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.game-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    background-color: rgba(red, green, blue, .50);
    border: none;
    
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    /*Quando passar o mouse por cima dos botões eles irão mudar de cores*/
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: black;
    color: white;
}

/*Ajustando os icones dos botões*/
.botao i {
    margin-right: 8px;
}

.box-game {
    height: 100%;
    width: 100%;
    display: block;
}